body {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

.section-1{
    background: #1F2937;
    color: #f9faf8;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: auto;
}

.header{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 gap: 20%;
 height: 8vh;
}

#logo{
    font-size: 24px;
}


#header-text ul{
    display: flex;
    gap: 30px;
}

li{
    list-style-type: none;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}


.section-1-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
   }


.left-side{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    width: 40%;
    margin-left: 10%;
    gap: 15px;
}

#hero-main-text{
    font-size: 40px;
    font-weight: bolder;
}

#hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.left-side button{
    background-color: #1999e4;
    border: none;
    color: #E5E7EB;
    align-self: flex-start;
    border-radius: 5px;
    font-weight: bold;
    padding-bottom: 2px;
    width: 100px;
    height: 30px;
}

.right-side{
    display: flex;
}

#header-img{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#header-img img{
    width: 340px;
    height: 280px;
    border-radius: 18%;
}

.section-2{
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding-inline: 20%;
}

.section-2 h2{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.section-2-body{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: column;
}

#img-card{
    width: 144px;
    height: 144px;
    background-color: #1999e4;
}