body {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

.section-1{
    background: #1F2937;
    color: #f9faf8;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: auto;
}

.header{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 gap: 20%;
 height: 8vh;
}

#logo{
    font-size: 24px;
}


#header-text ul{
    display: flex;
    gap: 30px;
}

li{
    list-style-type: none;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}


.section-1-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
   }


.left-side{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    width: 40%;
    margin-left: 10%;
    gap: 15px;
}

#hero-main-text{
    font-size: 40px;
    font-weight: bolder;
}

#hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.left-side button{
    background-color: #1999e4;
    border: none;
    color: #E5E7EB;
    align-self: flex-start;
    border-radius: 5px;
    font-weight: bold;
    padding-bottom: 2px;
    width: 100px;
    height: 30px;
}

.right-side{
    display: flex;
}

#header-img{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#header-img img{
    width: 340px;
    height: 280px;
    border-radius: 18%;
}




.section-2{
    display: flex;
    flex-direction: column;
    padding-inline: 10%;
    padding-block: 4%;
}

.section-2 h2{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.section-2-body{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    transition:cubic-bezier(.55,.09,.68,.53) .7s;
}

#img-card img{
    width: 175px;
    height: 175px;
    border-radius: 5px;
}

#img-card:hover {
    transform:scale(1.05);
}

.card:hover{
    color: black;
}



.section-3{
    display: flex;
    height: 35vh;
    justify-content: center;
    background-color:rgb(173, 173, 173) ;
}

@font-face {
    font-family: Mr-Robot;
    src: url('fonts/Mr-Robot.ttf') format('truetype');
}

.quote{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 40%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

#author{
    align-self: flex-end;
}